@model IEnumerable<EmpDeptProject.Models.Models.Department>
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

<partial name = "_AlertPartial"/>
<div class ="container p-3">
    <div class="row pt-4">
     <div class="col-6">
            <h2 class="text-primary">Department Lists</h2>
     </div>

     <div class="col-6 text-end">
        <a asp-controller="Departments" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>AddDepartment</a>
    </div>

</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Department ID
            </th>
            <th>
                Department Name
            </th>
            
        </tr>


    </thead>
    <tbody>
            @foreach (var c in Model)
            {
                        <tr>
                            <td><a asp-controller="Departments" asp-action="Details" asp-route-id="@c.DeptId">@c.DeptId</a></td>
                            <td>@c.DeptName</td>  
                            
                                
                            <td>
                            <div class="col-6 text-end btn-group m-75" role="group">
                                  <a asp-controller="Departments" asp-action = "Edit" class="btn btn-primary" asp-route-id="@c.DeptId"><i class="bi bi-pencil-fill"></i>Edit</a>
                            </div>
                            </td>
                            <td>
                            <div class="col-6 text-end btn-group m-75" role="group">
                                  <a asp-controller="Departments" asp-action = "Delete" class="btn btn-danger" asp-route-id="@c.DeptId"><i class="bi bi-trash3"></i>Delete</a>
                            </div>
                            </td>
                        </tr>               
            }
    </tbody>
</table>